﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Camping Licancura</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="~/mdb/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="~/mdb/css/mdb.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/mdb/css/style.css" rel="stylesheet">
    <link href='~/daygrid/main.css' rel='stylesheet' />
    <link href='~/core/main.css' rel='stylesheet' />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <div class="container">
            <div class="navbar-header">
                <a asp-area="" asp-controller="Reservas" asp-action="Index" class="navbar-brand">Licancura</a>
            </div>
        </div>
    </nav>

    <div class="container" style="padding-top:60px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - LicancuraReservas</p>
        </footer>
    </div>


    <script type="text/javascript" src="~/mdb/js/jquery-3.4.0.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/compiled-4.8.1.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
