﻿@model LicancuraReservas.Models.Reserva

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar reserva</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" class="form-control" />

            <div class="md-form">
                <input asp-for="Title" placeholder="Para quién reserva?" type="text" class="form-control datepicker">
                <label for="Start">Título</label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="md-form">
                <input asp-for="Start" placeholder="Selecciona fecha desde" type="text" class="form-control datepicker">
                <label for="Start">Desde</label>
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="md-form">
                <input asp-for="End" placeholder="Selecciona fecha hasta" type="text" class="form-control datepicker">
                <label for="End">Hasta</label>
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" style="padding-right:2.14rem">Volver</a>
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $('#Start').pickadate({
            monthsFull: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre',
                'noviembre', 'diciembre'],
            monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            format: 'dd mmmm yyyy',
            today: 'Hoy',
            clear: 'Limpiar',
            close: 'Cancelar'
        });
        $('#End').pickadate({
            monthsFull: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre',
                'noviembre', 'diciembre'],
            monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
            format: 'dd mmmm yyyy',
            today: 'Hoy',
            clear: 'Limpiar',
            close: 'Cancelar'
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
