﻿@model IEnumerable<LicancuraReservas.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-default">Nueva Reserva</a>
</p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="lista-tab" data-toggle="tab" href="#lista" role="tab" aria-controls="home"
           aria-selected="true">Lista</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="calendario-tab" data-toggle="tab" href="#calendario" role="tab" aria-controls="calendario"
           aria-selected="false">Calendario</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="lista" role="tabpanel" aria-labelledby="lista-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>Contratante</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            <a href="#" data-toggle="modal" data-target="#deleteModal" data-id="@item.Id" data-title="@item.Title" data-start="@item.Start">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">Confirmación de eliminación</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Realmente deseas eliminar la reserva de <span class="reservaTitle"></span> para el día <span class="reservaStart bold"></span>?
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal">Cancelar</a>
                        <a href="#" class="btn btn-primary delete">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts
            {
            <script>
                $('#deleteModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget); // Button that triggered the modal
                    var title = button.data('title');
                    var start = button.data('start');
                    var id = button.data('id');

                    var modal = $(this);
                    modal.find('.modal-body span').text(title);
                    modal.find('.modal-body span.reservaStart').text(start);
                    modal.find('.modal-footer a.delete').attr('href', "/Reservas/Delete/" + id)
                });
            </script>
        }
    </div>
    <div class="tab-pane fade" id="calendario" role="tabpanel" aria-labelledby="calendario-tab">
        <div id='script-warning'></div>

        <div id='loading'>loading...</div>

        <div id='calendar'></div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                    contentHeight: 'auto',
                    aspectRatio: 2.7,
                    displayEventTime: false,
                    plugins: ['dayGrid', 'timeGrid'],
                    header: {
                        left: 'prev',
                        center: 'title',
                        right: 'next'
                    },
                    defaultDate: Date.now(),
                    locale: 'es',
                    eventLimit: false, // allow "more" link when too many events
                    events: @Html.Raw(Json.Serialize(Model)),
                    loading: function (bool) {
                        document.getElementById('loading').style.display =
                            bool ? 'block' : 'none';
                    }
                });

                calendar.render();
            });

        </script>
        <script src='~/core/main.js'></script>
        <script src='~/daygrid/main.js'></script>
        <style>
            .fc-title {
                color: white;
            }
            #script-warning {
                display: none;
                background: #eee;
                border-bottom: 1px solid #ddd;
                padding: 0 10px;
                line-height: 40px;
                text-align: center;
                font-weight: bold;
                font-size: 12px;
                color: red;
            }

            #loading {
                display: none;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            #calendar {
                margin: 40px auto;
                padding: 0 10px;
            }
        </style>
    </div>
</div>
